html {
    font-size: 100%;
    box-sizing: border-box;
}


*,
*::before,
*::after{
    box-sizing: inherit;
}

body {
  background: linear-gradient(-80deg, #be8325, #972752, #156583, #148369);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  text-align: center;
  font-size: 16px;

  overflow: hidden;  
}

h1, h2 {
  color: whitesmoke;
}

h1  {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

.main {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}
